@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black !important;
    font-size: 62.5%;
    color: white
}

nav{
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    padding-top: 1rem
}

nav .left{
    flex: 50%;
    display: flex;
    align-items: center;
}

nav .left h1{
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(4, 148, 214);
    font-weight: bold;
}

nav .right{
    flex:50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: end;
    padding-right: 5rem
}

nav .right button{
    padding: 0.5rem;
    background-color: rgb(4, 148, 214);
    color: white;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
    border: none;
}

nav .right button:hover{
    cursor: pointer;
    background-color: rgb(4, 160, 233);
}
/* index */
.container{
    padding: 1rem;
}

.container select{
    color: black;
}

.cardContainer{
    padding: 3rem 2rem;
    display: flex;
    gap: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

.cardContainer button{
    width: 17.4rem;
    background-color: rgb(4, 148, 214);
    border: none;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    font-weight: bold;
    padding: 0.2rem 0rem
}

.cardContainer button:hover{
    cursor: pointer;
    background-color: rgb(4, 160, 233);
}

.card{
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    border: 0.2rem solid rgb(4, 148, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
}

.card .image{
    width: 10rem;
    margin: auto;
}

.card img{
    object-fit: cover;
    width: 100%;
}

.card h1{
    margin-top: 2rem;
    text-align: center;
    color: rgb(4, 148, 214)
}

.card p{
    text-align: center;
    color: white;
    font-size: 1rem;
}
/* index */

/* add province */

.formContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin: auto;
    margin-top: 10rem;;
}

.formContainer input{
    width: 100%;
    margin: 1rem;
    padding: 0.2rem 0.5rem;
}

.formContainer label{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.formContainer button{
    width: 5rem;
    background-color: rgb(4, 148, 214);
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin: 0rem 0.2rem;
    float: end;
    position: relative;
    left: 35.5rem;
}

.formContainer button:hover{
    cursor: pointer;
    background-color: rgb(4, 160, 233);
}

.formContainer a{
    background-color: rgb(4, 148, 214);
    text-decoration: none;
    color: black;
    padding: 0.32rem 1.8rem;
    border-radius: 0.3rem;
    margin: 0rem 0.2rem;
    float: end;
    position: relative;
    left: 35.5rem;
    font-size: 0.8rem;;
}