<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Provinsi</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <div class="detailContainer">
            <img src="" alt="">
            <h1>asd</h1>
            <p>asdasdad</p>
            <div class="detailButton">
                <a href="" id="edit">Edit</a>
                <a href="" id="delete">Delete</a>
            </div>
        </div>
    </body>
</html>